@inject StudentSample.ISubjectRepository  _subjectRepository
@inject StudentSample.ILanguageRepository _languageRepository
@model SubjectLanguageMappingListModel
@{
    ViewData["Title"] = "Student List";
    var selectlstSubject = (await _subjectRepository.GetAllSubject()).Select(x => new SelectListItem(x.Name, x.Id.ToString()));
    var selectlstLanguage = (await _languageRepository.GetAllLanguage()).Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}
<form method="post" enctype="multipart/form-data"
      asp-action="SubjectLanguageMappingList" asp-controller="Subject">
    @if (@Model != null)
    {
        <div class="containt">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="SubjectId"></label>
                        <select asp-for="SubjectId" class="form-select" required asp-items="selectlstSubject">
                            <option value="@Guid.Empty">All</option>
                        </select>
                        <span asp-validation-for="SubjectId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="LanguageId"></label>
                        <select asp-for="LanguageId" class="form-select" required asp-items="selectlstLanguage">
                            <option value="@Guid.Empty">All</option>
                        </select>
                        <span asp-validation-for="LanguageId" class="text-danger"></span>
                    </div>
                </div>             
                <div class="col">
                    <div class="form-group">
                        <br />
                        <input type="submit" class="btn btn-primary" value="Search" />
                    </div>
                </div>

            </div>
            <br />
            <br />
            <div class="=row">
                <div class="col">
                    <table class="table" id="tblStudentGrid">
                        <thead>
                            <tr>
                                <th>Subject Name</th>
                                <th>Language </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var data in @Model.SubjectLanguageMappingList)
                            {
                                <tr>
                                    <td>@data.SubjectName </td>
                                    <td>@data.LanguageName </td>
                                    <td>
                                        <button type="submit" class="btn btn-info" asp-controller="subject" asp-action="GetSubjectLanguageMapping" asp-route-Id="@data.Id"> Select </button>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-danger" asp-controller="subject" asp-action="DeleteSubjectLanguageMapping" asp-route-Id="@data.Id"> Delete </button>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>

        </div>




    }
</form>
